	/*
					These are the responsive styles. Throw some breakpoints in here!
					*/
					*{
					max-width:960px;
					margin: 0 auto;
					
					}
					
					
					.title {
					text-align: center;
					margin: 20px;
					}
					
					.container {
					display: flex;
					flex-wrap: wrap;
					
					}

					.box {
					width: 100%;
					text-align: center;
					}
					
					.col-12{
					width: 100%;
					}
					
					.line{
					width: 98%;
					margin-bottom: 20px;
					
					}
					
					.one {
					padding-left: 1em;
					padding-right: 1em;
					box-sizing: border-box;
					}

					.description {
					font-size: 2em;
					}

					.img-responsive {
					width: 100%
					}
					
					@media screen and (max-width: 549px) {
					.img-responsive {
					display:none;	
					}
					.box {
					text-align: left;
					}
					
					}
					
					@media screen and (min-width: 550px) {
					.one {
					width: 50%;
					}
					}


					@media screen and (min-width: 750px) {
					.one {
					width: 33%;

					}
					}




					
