					*{
					max-width:960px;
					margin: 0 auto;
					
					}

.container {
	margin: auto;
    min-width: 400px;
}


					

hr {
    border: none;
    height: .5em;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
	width: 98%;
					margin-bottom: 20px;
}

section {
    font-size: 1.5em;
}


#cat {
    margin-top: 1em;
}

.container {
display: flex;
flex-wrap: wrap;

}

.box {
width: 100%;
text-align: center;
}

.col-6-12{
	width:50%;
}

.col-6-0{
	width:50%;
}

.title{
    text-align: right;
    text-transform: uppercase;
}

.project {
    text-align: center;
    font-size: 1.5em;
}

.img-responsive {
width: 100%
}

					.one {
					padding-left: 1em;
					padding-right: 1em;
					box-sizing: border-box;
					}







@media screen and (max-width: 549px) {
.img-responsive {
display:none;	
}

.box {
text-align: left;
}

#cat{
display: none;
}

.col-6-0{
	width:0%;
}
.col-6-12{
	width:100%;
}

}


@media screen and (min-width: 550px) {
.box {
width: 50%;
}
}


@media screen and (min-width: 750px) {
.box {
width: 33%;

}
}


