.container {
	margin: auto;
    min-width: 400px;
}

hr {
    border: none;
    height: .5em;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

section {
    font-size: 1.5em;
}

/*
article p:first-child {
    margin-left: .5em;
    font-size: 2.5em;
    }

article p {
    font-size: 3em;
    color: #747704;
    margin-bottom: 0px;
}
*/
#cat {
    margin-top: 1em;
}

.modal-body{
    margin-right: 25%;
    margin-left: 25%; 
}

.title{
    text-align: right;
    text-transform: uppercase;
}

.project {
    text-align: center;
    font-size: 1.5em;
}



@media (max-width: 768px) {

    .project {
    text-align: left;
}
    .title{
    text-align: left;

}

	.img-responsive{
		display: none;}

    
}



