.container {
	margin: auto;
    min-width: 400px;
}

hr {
    border: none;
    height: .5em;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

section {
    font-size: 1.5em;
}


#cat {
    margin-top: 1em;
}

					.container {
					display: flex;
					flex-wrap: wrap;
					
					}
					
										.box {
					width: 100%;
					text-align: center;
					}

.col-6{
	width:50%;
}

.title{
    text-align: right;
    text-transform: uppercase;
}

.project {
    text-align: center;
    font-size: 1.5em;
}



@media (max-width: 768px) {

    .project {
    text-align: left;
}
    .title{
    text-align: left;

}

	.img-responsive{
		display: none;}

    
}



