hr {
    border: none;
    height: .5em;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

section {
    margin-bottom: 2em;
}

article p:first-child {
    margin-left: .5em;
    font-size: 2.5em;
    }

article p {
    font-size: 3em;
    color: #747704;
    margin-bottom: 0px;
}